/*       Fonts      */
/*@font-face {
  font-family: 'Roboto Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
}*/

/*    Variables     */
$header_height: 90px;
$element_width: 768px;

$screen_height: 310px;

$coral: #FF533D;
$eggshell: #F5F5F5;

/*    Styling       */
.site-wrapper{
	width: 100%;
	min-width: 600px;
	position:relative;
	header{
		/*position: fixed;
		top: 0;*/
		position: absolute;
		width: 100%;
		height: $header_height;
		z-index: 10;
		.header_container{
			width: $element_width;
			margin: 0 auto;
			height: 100%;
			.anchor{
				float: right;
				height: 100%;
				color: white;
				line-height: $header_height;
				vertical-align: middle;
				text-align: center;
				padding: 0 30px;
				font-size: 12px;
				font-family: 'Roboto';
				font-weight: 700;
				box-sizing: border-box;
			}
			.anchor:hover{
				border-bottom: 4px solid $coral;
				color: $coral;
			}
		}
	}
	.hero{
		height: 33%;
		min-height: 600px + $header_height;
		padding-top: $header_height;
		z-index: 1;
		background-image: url("../images/cov1_3r.jpg");
		/*background-size: cover;*/
		background-size: auto;
		.hero_story{
			width: $element_width;
			margin: 0 auto;
			color: white;
			font-family: 'Roboto';
		}
	}
	.dummy{
		clear: both;
		height: 500px;
		background-color: yellow;
	}
	.dummy2{
		height: 500px;
		background-color: orange;
	}
}

h1{
	margin: 90px 0 30px 0;
	font-size: 55px;
	line-height: 62px;
	font-weight: 700;
}

h3{
	font-size: 18px;
	line-height: 30px;
	font-weight: 300;
}
#logo, #name{
	float: left;
	color: white;
	line-height: $header_height;
	vertical-align: middle;
	text-align: center;
	padding: 0 30px;
	font-size: 16px;
	font-family: 'Roboto';
	font-weight: 700;
	box-sizing: border-box;
}
#logo{
	padding: 0;
	background-image: url("../images/si.svg");
	background-size: 70px 70px;
	height: 70px;
	margin: 5px 0 15px 0;
	width: 70px;
}
.demo_projects{
	margin: 0 auto;
	width: $element_width;
	.intersection{
		h2{
			text-align: center;
			color: $coral;
			font-family: "Roboto";
			font-size: 30px;
			line-height: 30px;
			margin: 30px 0;
		}
	}
	.project{
		margin: 10px 0;
		padding: 10px 0;
		clear: both;
		/*border-top: 1px solid rgb(180,180,180);*/
		.screen{
			float: left;
			width: 68%;
			height: $screen_height;
			/*background-color: rgb(200,120,120);*/
			img{
				/*margin: 10px;*/
                -webkit-box-shadow: 0px 0px 6px 2px rgba(140,140,140,1);
                -moz-box-shadow: 0px 0px 6px 2px rgba(140,140,140,1);
                box-shadow: 0px 0px 6px 2px rgba(140,140,140,1);
			}
		}
		.desc{
			box-sizing: border-box;
			padding: 100px 5px;
			float: left;
			width: 32%;
			height: $screen_height;
			font-family: "Roboto";
			font-size: 18px;
			/*background-color: rgb(120,200,120);*/
		}
	}
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */