/*    Variables     */
/*    Colors      */
/*    Styling       */
.site-wrapper {
  width: 100%;
  min-width: 560px;
  position: relative; }
  .site-wrapper header {
    width: 100%;
    height: 90px;
    z-index: 10; }
    .site-wrapper header .header_container {
      max-width: 768px;
      width: 90%;
      margin: 0 auto;
      height: 100%; }
      .site-wrapper header .header_container .anchor {
        float: right;
        height: 100%;
        /*color: white;*/
        line-height: 90px;
        vertical-align: middle;
        text-align: center;
        padding: 0 30px;
        font-size: 12px;
        font-family: 'Roboto';
        font-weight: 700;
        box-sizing: border-box; }
      .site-wrapper header .header_container .anchor:hover {
        border-bottom: 4px solid #FF383F;
        color: #FF383F; }
  .site-wrapper .hero {
    height: 690px;
    /*min-height: 600px + $header_height;*/
    padding-top: 90px;
    z-index: 1;
    background-image: url("../images/cov1_3r.jpg");
    /*background-size: cover;*/
    background-size: cover; }
    .site-wrapper .hero .hero_story {
      max-width: 768px;
      width: 90%;
      margin: 0 auto;
      color: white;
      font-family: 'Roboto'; }

.header_static {
  position: absolute; }
  .header_static .anchor {
    color: white; }
  .header_static #name {
    color: white; }

.header_dynamic {
  position: fixed;
  top: 0;
  background-color: white;
  border-bottom: 1px solid #EFEFEF; }
  .header_dynamic .anchor {
    color: #030303; }
  .header_dynamic #name {
    color: #030303; }

h1 {
  margin: 90px 0 30px 0;
  font-size: 55px;
  line-height: 62px;
  font-weight: 700;
  color: #F5F5F5; }

h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  color: #F5F5F5; }

#logo, #name {
  float: left;
  line-height: 90px;
  vertical-align: middle;
  text-align: center;
  padding: 0 30px;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 700;
  box-sizing: border-box; }

#logo {
  padding: 0;
  background-image: url("../images/si.svg");
  background-size: 70px 70px;
  height: 70px;
  margin: 5px 0 15px 0;
  width: 70px; }

#demo_projects {
  margin: 0 auto;
  max-width: 768px;
  width: 100%;
  /*background-color: $eggshell;*/ }
  #demo_projects .project {
    margin: 10px 0;
    padding: 10px 0;
    clear: both; }
    #demo_projects .project .screen {
      float: left;
      width: 68%;
      height: 310px; }
      #demo_projects .project .screen img {
        -webkit-box-shadow: 0px 0px 6px 2px #8c8c8c;
        -moz-box-shadow: 0px 0px 6px 2px #8c8c8c;
        box-shadow: 0px 0px 6px 2px #8c8c8c; }
    #demo_projects .project .desc {
      box-sizing: border-box;
      padding: 100px 5px;
      float: left;
      width: 32%;
      height: 310px;
      font-family: "Roboto";
      font-size: 18px;
      color: #030303; }

.intersection h2 {
  text-align: center;
  color: #FF383F;
  font-family: "Roboto";
  font-size: 30px;
  line-height: 30px;
  margin: 30px 0; }

.space_large {
  height: 150px; }

#contact {
  clear: both;
  padding-bottom: 20px;
  background-color: #EFEFEF; }
  #contact .container {
    margin: 0 auto;
    width: 768px; }
    #contact .container .sprites {
      width: 110px;
      margin: 0 auto; }
      #contact .container .sprites img {
        height: 32px;
        width: 32px;
        margin: 0 10px 10px 10px; }

/*    Media Query    */
@media (max-width: 800px) {
  #demo_projects .project .screen {
    width: 100%;
    display: block;
    float: none;
    text-align: center; }
  #demo_projects .project .desc {
    width: 100%;
    display: block;
    float: none;
    text-align: center;
    height: auto;
    padding: 0 0 20px 0; }

  .site-wrapper header .header_container .anchor {
    padding: 0 15px;
    font-size: 14px; } }
/*    Animations    */
.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

.active {
  border-bottom: 4px solid #FF383F; }

/*          Clearfix           */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* html .clearfix {
  zoom: 1; }

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1; }

/* IE7 */

/*# sourceMappingURL=style.css.map */
