/*       Fonts      */
/*@font-face {
  font-family: 'Roboto Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
}*/

/*    Variables     */
$header_height: 90px;
$element_width: 768px;
$coral: #FF533D;

/*    Styling       */
.site-wrapper{
	width: 100%;
	min-width: 600px;
	position:relative;
	header{
		/*position: fixed;
		top: 0;*/
		position: absolute;
		width: 100%;
		height: $header_height;
		z-index: 10;
		.header_container{
			width: $element_width;
			margin: 0 auto;
			height: 100%;
			.anchor{
				float: right;
				height: 100%;
				color: white;
				line-height: $header_height;
				vertical-align: middle;
				text-align: center;
				padding: 0 30px;
				font-size: 12px;
				font-family: 'Roboto';
				font-weight: 700;
				box-sizing: border-box;
			}
			.anchor:hover{
				border-bottom: 4px solid $coral;
				color: $coral;
			}
		}
	}
	.hero{
		height: 33%;
		min-height: 600px + $header_height;
		padding-top: $header_height;
		z-index: 1;
		background-image: url("../images/cov1_3r.jpg");
		background-size: cover;
		.hero_story{
			width: $element_width;
			margin: 0 auto;
			color: white;
			font-family: 'Roboto';
		}
	}
	.dummy{
		height: 500px;
		background-color: yellow;
	}
	.dummy2{
		height: 500px;
		background-color: orange;
	}
}

h1{
	margin: 90px 0 30px 0;
	font-size: 55px;
	line-height: 62px;
	font-weight: 700;
}

h3{
	font-size: 18px;
	line-height: 30px;
	font-weight: 300;
}
#logo, #name{
	float: left;
	color: white;
	line-height: $header_height;
	vertical-align: middle;
	text-align: center;
	padding: 0 30px;
	font-size: 16px;
	font-family: 'Roboto';
	font-weight: 700;
	box-sizing: border-box;
}
#logo{
	padding: 0;
	background-image: url("../images/si.svg");
	background-size: 70px 70px;
	height: 70px;
	margin: 5px 0 15px 0;
	width: 70px;
}