/*    Variables     */
$header_height: 90px;
$space_large: 150px;
$element_width: 768px;
$screen_height: 310px;

/*    Colors      */
$coral: #FF533D;
$eggshell: #F5F5F5;
$small_text: #030303;

$watermelon: #FF383F;
$neutral: #EFEFEF;
$carbon: #A9A9A9;
$sky: #CAEBF2;
$navy_blue: #OF1626;
$indigo: #30415D;
$ultramarine: #031424;
$light_blue: #8EAEBD;

/*    Styling       */
.site-wrapper{
	width: 100%;
	min-width: 560px;
	position:relative;
	header{
		width: 100%;
		height: $header_height;
		z-index: 10;
		.header_container{
			max-width: $element_width;
			width: 90%;
			margin: 0 auto;
			height: 100%;
			.anchor{
				float: right;
				height: 100%;
				/*color: white;*/
				line-height: $header_height;
				vertical-align: middle;
				text-align: center;
				padding: 0 30px;
				font-size: 12px;
				font-family: 'Roboto';
				font-weight: 700;
				box-sizing: border-box;
			}
			.anchor:hover{
				border-bottom: 4px solid $watermelon;
				color: $watermelon;
			}
		}
	}
	.hero{
		height: 600px + $header_height;
		/*min-height: 600px + $header_height;*/
		padding-top: $header_height;
		z-index: 1;
		background-image: url("../images/cov1_3r.jpg");
		/*background-size: cover;*/
		background-size: cover;
		.hero_story{
			max-width: $element_width;
			width: 90%;
			margin: 0 auto;
			color: white;
			font-family: 'Roboto';
		}
	}
}

.header_static{
	position: absolute;
	.anchor{
		color: white;
	}
	#name{
		color: white;
	}
}

.header_dynamic{
	position: fixed;
	top: 0;
	background-color: white;
	border-bottom: 1px solid $neutral;
	.anchor{
		color: $small_text;
	}
	#name{
		color: $small_text;
	}
}

h1{
	margin: 90px 0 30px 0;
	font-size: 55px;
	line-height: 62px;
	font-weight: 700;
	color: $eggshell;
}

h3{
	font-size: 18px;
	line-height: 30px;
	font-weight: 300;
	color: $eggshell;
}
#logo, #name{
	float: left;
	line-height: $header_height;
	vertical-align: middle;
	text-align: center;
	padding: 0 30px;
	font-size: 16px;
	font-family: 'Roboto';
	font-weight: 700;
	box-sizing: border-box;
}
#logo{
	padding: 0;
	background-image: url("../images/si.svg");
	background-size: 70px 70px;
	height: 70px;
	margin: 5px 0 15px 0;
	width: 70px;
}
#demo_projects{
	margin: 0 auto;
	max-width: $element_width;
	width: 100%;
	/*background-color: $eggshell;*/
	.project{
		margin: 10px 0;
		padding: 10px 0;
		clear: both;
		.screen{
			float: left;
			width: 68%;
			height: $screen_height;
			img{
                -webkit-box-shadow: 0px 0px 6px 2px rgba(140,140,140,1);
                -moz-box-shadow: 0px 0px 6px 2px rgba(140,140,140,1);
                box-shadow: 0px 0px 6px 2px rgba(140,140,140,1);
			}
		}
		.desc{
			box-sizing: border-box;
			padding: 100px 5px;
			float: left;
			width: 32%;
			height: $screen_height;
			font-family: "Roboto";
			font-size: 18px;
			color: $small_text;
		}
	}
}

.intersection{
	h2{
		text-align: center;
		color: $watermelon;
		font-family: "Roboto";
		font-size: 30px;
		line-height: 30px;
		margin: 30px 0;
	}
}

.space_large{
	height: $space_large;
}

#contact{
	clear: both;
	padding-bottom: 20px;
	background-color: $neutral;
	.container{
		margin: 0 auto;
		width: $element_width;
		.sprites{
			width: 110px;
			margin: 0 auto;
				img{
					height: 32px;
					width: 32px;
					margin: 0 10px 10px 10px;
				}				
		}	
	}
}
/*    Media Query    */
@media (max-width: 800px){
	#demo_projects{
		.project{
			.screen{
				width: 100%;
				display: block;
				float: none;
				text-align: center;
			}
			.desc{
				width: 100%;
				display: block;
				float: none;
				text-align: center;
				height: auto;
				padding: 0 0 20px 0;
			}
		}
	}
	.site-wrapper{
		header{
			.header_container{
				.anchor{
					padding: 0 15px;
					font-size: 14px;
				}
			}
		}
	}
}
/*    Animations    */

.animated{
	-webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
         
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
         
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.active{
	border-bottom: 4px solid $watermelon;
}

/*          Clearfix           */

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */