/*       Fonts      */
/*@font-face {
  font-family: 'Roboto Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
}*/
/*    Variables     */
/*    Styling       */
.site-wrapper {
  width: 100%;
  min-width: 600px;
  position: relative; }
  .site-wrapper header {
    /*position: fixed;
    top: 0;*/
    position: absolute;
    width: 100%;
    height: 90px;
    z-index: 10; }
    .site-wrapper header .header_container {
      width: 768px;
      margin: 0 auto;
      height: 100%; }
      .site-wrapper header .header_container .anchor {
        float: right;
        height: 100%;
        color: white;
        line-height: 90px;
        vertical-align: middle;
        text-align: center;
        padding: 0 30px;
        font-size: 12px;
        font-family: 'Roboto';
        font-weight: 700;
        box-sizing: border-box; }
      .site-wrapper header .header_container .anchor:hover {
        border-bottom: 4px solid #FF533D;
        color: #FF533D; }
  .site-wrapper .hero {
    height: 33%;
    min-height: 690px;
    padding-top: 90px;
    z-index: 1;
    background-image: url("../images/cov1_3r.jpg");
    /*background-size: cover;*/
    background-size: auto; }
    .site-wrapper .hero .hero_story {
      width: 768px;
      margin: 0 auto;
      color: white;
      font-family: 'Roboto'; }
  .site-wrapper .dummy {
    clear: both;
    height: 500px;
    background-color: yellow; }
  .site-wrapper .dummy2 {
    height: 500px;
    background-color: orange; }

h1 {
  margin: 90px 0 30px 0;
  font-size: 55px;
  line-height: 62px;
  font-weight: 700; }

h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 300; }

#logo, #name {
  float: left;
  color: white;
  line-height: 90px;
  vertical-align: middle;
  text-align: center;
  padding: 0 30px;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 700;
  box-sizing: border-box; }

#logo {
  padding: 0;
  background-image: url("../images/si.svg");
  background-size: 70px 70px;
  height: 70px;
  margin: 5px 0 15px 0;
  width: 70px; }

.demo_projects {
  margin: 0 auto;
  width: 768px; }
  .demo_projects .intersection h2 {
    text-align: center;
    color: #FF533D;
    font-family: "Roboto";
    font-size: 30px;
    line-height: 30px;
    margin: 30px 0; }
  .demo_projects .project {
    margin: 10px 0;
    padding: 10px 0;
    clear: both;
    /*border-top: 1px solid rgb(180,180,180);*/ }
    .demo_projects .project .screen {
      float: left;
      width: 68%;
      height: 310px;
      /*background-color: rgb(200,120,120);*/ }
      .demo_projects .project .screen img {
        /*margin: 10px;*/
        -webkit-box-shadow: 0px 0px 6px 2px #8c8c8c;
        -moz-box-shadow: 0px 0px 6px 2px #8c8c8c;
        box-shadow: 0px 0px 6px 2px #8c8c8c; }
    .demo_projects .project .desc {
      box-sizing: border-box;
      padding: 100px 5px;
      float: left;
      width: 32%;
      height: 310px;
      font-family: "Roboto";
      font-size: 18px;
      /*background-color: rgb(120,200,120);*/ }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* html .clearfix {
  zoom: 1; }

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1; }

/* IE7 */

/*# sourceMappingURL=style.css.map */
